* {
  padding: 0;
  margin: 0;
  font-family: 'Poppins',
  sans-serif;
  box-sizing: border-box;
}

/*Header*/

header{
  width: auto;
  min-height: 90px;
  overflow: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}


a{
  font-size: 18px;
    font-weight: 500;
    letter-spacing: .9px;
    color: #555252;
    
}

a:hover{
  color: #a791fc;
  text-decoration: none;
  
}



ul li{
  list-style: none;
  display: inline-block;
  padding: 0 18px;
  margin-top: 15px;
}

ul li .active{
  color: #947bf8;
  font-weight: bolder;
}

.logo{
  position: relative;
  margin-bottom: 9px;
}

.menu{
  display: none; /* Hamburgur menu */
}


.cart-icon{
  position: relative;
  margin-right: 15px;
  font-size: 5px;

}

.cart-icon span{
  background: crimson;
  border-radius: 20px;
  color: white;
  position: relative;
  top: -15px;
  right: -45px;
  font-size: 11px;
  padding: 5px;
}


/* RESPONSIVE */
@media (max-width: 700px) {
  header{
    justify-content: space-between;
  }
  ul{
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;
    opacity: 0.98;
    z-index: 99;
    transition: 0.5s ease-in;
  }
  .menu{
    display: block;
    cursor: pointer;
  }
  ul li .menu{
    position: absolute;
    top: 20px;
    right: 20px;
  }
  
}


/* CAROUSEL */

.carousel-item{
  height: 88vh;
  min-height: 300px;
  background-position: center;
}

.carousel-caption{
  letter-spacing: 2px;
  line-height: 35px;
  top: 40%;
  right: 40%;
}

.carousel-caption h3{
  color: #3498db;
  font-size: 40px;
  margin-bottom: 20px;
  text-align: left;
}

.carousel-caption p{
  font-weight: bold;
  font-size: 20px;
  text-align: left;
  top: 2rem;
}

.carousel-item img{
  height:700px;
  object-fit:cover;
}

/* RESPONSIVE */
/* @media screen and (max-width: 800px){
	.carousel-item{
		height: 500px;
	}
	.carousel-caption{
		letter-spacing: 2px;
		line-height: 25px;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		-webkit-animation-name: posi2;
		-webkit-animation-duration: 2s;
		animation-name: posi2;
		animation-duration: 2s;
	}

	@-webkit-keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}


	@keyframes posi2 {
	  from {top: 35%;}
	  to {top: 50%;}
	}

	.carousel-caption h3{
		font-size: 40px;
	}
	.carousel-caption p{
		font-size: 13px;
	}

}

@media screen and (max-width: 520px){
	.carousel-caption h3{
		font-size: 30px;
		margin-bottom: 20px;
	}
}

*/
/* img{
	transform: scale(1.5, 1.5);
	-webkit-animation-name: zoomin;
  	-webkit-animation-duration: 40s;
  	animation-name: zoomin;
  	animation-duration: 40s;
}
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}  */